.App {
  text-align: center;
  background-image: url("https://image.lexica.art/full_jpg/5a429025-f2fa-44fb-a3dd-32d66db3d767");
  background-size: cover; /* Set the background image to cover the container */
  background-repeat: repeat;
  height: 110vh;

  @media (max-width: 768px) { /* For screens up to 768px wide */
    background-repeat: repeat; /* Remove background image repeat */
    background-size: 100% ; /* Set the background image to cover the entire width and maintain its aspect ratio */
    height: 220vh; /* Ensure the background covers the entire height of the screen */
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #9aa4b6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 768px) {
  .responsive{
    display: flex;
    flex-direction: column;
   
  }
}
.responsive{
  color: #ffffff;
}

